USE [master]
GO
/****** Object:  Database [ALFIL]    Script Date: 16/03/2026 17:03:10 ******/
CREATE DATABASE [ALFIL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALFIL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ALFIL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALFIL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ALFIL_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALFIL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALFIL]
GO
/****** Object:  User [Users]    Script Date: 16/03/2026 17:03:11 ******/
CREATE USER [Users] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [User]    Script Date: 16/03/2026 17:03:11 ******/
CREATE USER [User] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Alfil]    Script Date: 16/03/2026 17:03:11 ******/
CREATE USER [Alfil] FOR LOGIN [Alfil] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Alfil]
GO
/****** Object:  Schema [basico]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [basico]
GO
/****** Object:  Schema [configuracion]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [configuracion]
GO
/****** Object:  Schema [digiturno]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [digiturno]
GO
/****** Object:  Schema [edicion]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [edicion]
GO
/****** Object:  Schema [seguridad]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [seguridad]
GO
/****** Object:  Schema [siau]    Script Date: 16/03/2026 17:03:11 ******/
CREATE SCHEMA [siau]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](12) NOT NULL,
	[area] [varchar](30) NOT NULL,
	[ipsId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[departamento] [varchar](100) NOT NULL,
	[paiseId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](180) NOT NULL,
	[nit] [varchar](12) NOT NULL,
	[digito] [int] NOT NULL,
	[representante] [varchar](150) NOT NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](20) NULL,
	[municipioId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NOT NULL,
	[especialidad] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[fila] [varchar](50) NOT NULL,
	[prioritaria] [bit] NOT NULL,
	[prioridadeId] [int] NULL,
	[validaGenero] [bit] NOT NULL,
	[infancia] [bit] NOT NULL,
	[discapacidad] [bit] NOT NULL,
	[generoId] [int] NULL,
	[edad] [bit] NOT NULL,
	[edadInicial] [int] NULL,
	[edadFinal] [int] NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilasRutas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilasRutas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rutaId] [int] NOT NULL,
	[filaId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilasVentanillas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilasVentanillas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filaId] [int] NOT NULL,
	[ventanillaId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ipss]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ipss](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoReps] [varchar](10) NOT NULL,
	[sigla] [varchar](12) NOT NULL,
	[nit] [varchar](12) NOT NULL,
	[digito] [int] NOT NULL,
	[ips] [varchar](120) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[municipioId] [int] NOT NULL,
	[empresaId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[municipio] [varchar](100) NOT NULL,
	[departamentoId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opciones]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[opcion] [varchar](100) NOT NULL,
	[etiqueta] [varchar](100) NOT NULL,
	[moduloId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[iso2] [varchar](4) NOT NULL,
	[iso3] [varchar](4) NOT NULL,
	[codePhone] [varchar](5) NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[perfil] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[perfileId] [int] NOT NULL,
	[opcioneId] [int] NOT NULL,
	[leer] [bit] NOT NULL,
	[editar] [bit] NOT NULL,
	[crear] [bit] NOT NULL,
	[eliminar] [bit] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridades]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prioridad] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[perfileId] [int] NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[ruta] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](12) NOT NULL,
	[sala] [varchar](30) NOT NULL,
	[sedeId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sedes]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sedes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoReps] [varchar](12) NOT NULL,
	[habilitacion] [varchar](50) NOT NULL,
	[sede] [varchar](100) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[municipioId] [int] NOT NULL,
	[ipsId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[tipoId] [int] NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[celular] [varchar](20) NULL,
	[roleId] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventanillas]    Script Date: 16/03/2026 17:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventanillas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](12) NOT NULL,
	[ventanilla] [varchar](30) NOT NULL,
	[areaId] [int] NOT NULL,
	[sedeId] [int] NOT NULL,
	[salaId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[usuarioCrea] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[usuarioMod] [varchar](50) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([id], [codigo], [area], [ipsId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'CONEX01', N'Consulta Externa', 1, 1, N'ivanrl', CAST(N'2026-01-23T11:51:49.000' AS DateTime), N'ivanrl', CAST(N'2026-01-30T15:27:09.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([id], [codigo], [departamento], [paiseId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'05', N'ANTIOQUIA', 44, 1, N'Alfil', CAST(N'2025-03-27T23:34:29.000' AS DateTime), N'ivanrl', CAST(N'2026-01-30T11:38:02.000' AS DateTime))
INSERT [dbo].[Departamentos] ([id], [codigo], [departamento], [paiseId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'91', N'AMAZONAS', 44, 1, N'Alfil', CAST(N'2025-03-27T23:34:29.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Departamentos] ([id], [codigo], [departamento], [paiseId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'81', N'ARAUCA', 44, 1, N'Alfil', CAST(N'2025-03-27T23:34:29.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([id], [razonSocial], [nit], [digito], [representante], [direccion], [telefono], [municipioId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Judasi SAS', N'901735358', 4, N'Juan Garnica', N'CL 73 # 85 - 43', N'3204047580', 169, 1, N'Alfil', CAST(N'2025-03-27T23:42:54.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidades] ON 

INSERT [dbo].[Especialidades] ([id], [codigo], [especialidad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'001', N'ACTIVIDAD FISICO TERAPEUTICA', 1, N'Alfil', CAST(N'2025-03-28T11:44:28.393' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Especialidades] ([id], [codigo], [especialidad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'020', N'ANESTESIA CARDIOTORAXICA', 1, N'Alfil', CAST(N'2025-03-28T11:44:28.453' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Especialidades] ([id], [codigo], [especialidad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'021', N'ANESTESIOLOGIA', 1, N'Alfil', CAST(N'2025-03-28T11:44:28.493' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Filas] ON 

INSERT [dbo].[Filas] ([id], [codigo], [fila], [prioritaria], [prioridadeId], [validaGenero], [infancia], [discapacidad], [generoId], [edad], [edadInicial], [edadFinal], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'CONAM', N'CONSULTA ADULTO MAYOR', 1, 2, 0, 0, 0, NULL, 1, 60, 120, 1, N'ivanrl', CAST(N'2026-01-27T16:14:50.000' AS DateTime), NULL, CAST(N'2026-01-27T16:14:50.000' AS DateTime))
INSERT [dbo].[Filas] ([id], [codigo], [fila], [prioritaria], [prioridadeId], [validaGenero], [infancia], [discapacidad], [generoId], [edad], [edadInicial], [edadFinal], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'CONGE', N'CONSULTA GESTANTES', 1, 1, 1, 0, 0, 2, 1, 10, 60, 1, N'ivanrl', CAST(N'2026-01-27T16:16:59.000' AS DateTime), NULL, CAST(N'2026-01-27T16:16:59.000' AS DateTime))
INSERT [dbo].[Filas] ([id], [codigo], [fila], [prioritaria], [prioridadeId], [validaGenero], [infancia], [discapacidad], [generoId], [edad], [edadInicial], [edadFinal], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'CONIN', N'CONSULTA PRIMERA INFANCIA', 1, 4, 0, 1, 0, NULL, 1, 0, 5, 1, N'ivanrl', CAST(N'2026-01-27T16:17:37.000' AS DateTime), NULL, CAST(N'2026-01-27T16:17:37.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Filas] OFF
GO
SET IDENTITY_INSERT [dbo].[FilasRutas] ON 

INSERT [dbo].[FilasRutas] ([id], [rutaId], [filaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, 1, 5, 1, N'ivanrl', CAST(N'2026-02-03T11:42:04.000' AS DateTime), N'ivanrl', CAST(N'2026-02-03T15:02:05.000' AS DateTime))
INSERT [dbo].[FilasRutas] ([id], [rutaId], [filaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, 1, 1, 1, N'ivanrl', CAST(N'2026-02-03T11:42:10.000' AS DateTime), NULL, CAST(N'2026-02-03T11:42:10.000' AS DateTime))
INSERT [dbo].[FilasRutas] ([id], [rutaId], [filaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, 1, 2, 1, N'ivanrl', CAST(N'2026-02-03T11:42:28.000' AS DateTime), NULL, CAST(N'2026-02-03T11:42:28.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[FilasRutas] OFF
GO
SET IDENTITY_INSERT [dbo].[FilasVentanillas] ON 

INSERT [dbo].[FilasVentanillas] ([id], [filaId], [ventanillaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, 5, 1, 1, N'ivanrl', CAST(N'2026-05-03T22:35:44.000' AS DateTime), N'ivanrl', CAST(N'2026-06-03T09:38:07.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[FilasVentanillas] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([id], [genero], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Hombre', 1, N'ivanrl', CAST(N'2026-01-27T12:06:48.000' AS DateTime), NULL, CAST(N'2026-01-27T12:06:48.000' AS DateTime))
INSERT [dbo].[Generos] ([id], [genero], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Mujer', 1, N'ivanrl', CAST(N'2026-01-27T12:06:55.000' AS DateTime), NULL, CAST(N'2026-01-27T12:06:55.000' AS DateTime))
INSERT [dbo].[Generos] ([id], [genero], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'LGTBI', 1, N'ivanrl', CAST(N'2026-01-27T12:07:55.000' AS DateTime), NULL, CAST(N'2026-01-27T12:07:55.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ipss] ON 

INSERT [dbo].[Ipss] ([id], [codigoReps], [sigla], [nit], [digito], [ips], [direccion], [municipioId], [empresaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'IPS001', N'IPS', N'800789456', 1, N'NUEVA IPS', N'AV SIEMPRE VIVA #123', 169, 1, 1, N'ivanrl', CAST(N'2025-11-24T17:47:45.000' AS DateTime), N'ivanrl', CAST(N'2026-01-23T12:54:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ipss] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulos] ON 

INSERT [dbo].[Modulos] ([id], [modulo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Básico', 1, N'Alfil', CAST(N'2025-03-25T12:34:12.357' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Modulos] ([id], [modulo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Seguridad', 1, N'Alfil', CAST(N'2025-03-21T15:36:54.417' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Modulos] ([id], [modulo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'Configuración', 1, N'Alfil', CAST(N'2025-03-25T12:22:44.140' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Modulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([id], [codigo], [municipio], [departamentoId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'91263', N'El Encanto', 1, 1, N'Alfil', CAST(N'2025-03-27T23:39:51.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Municipios] ([id], [codigo], [municipio], [departamentoId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'91405', N'La Chorrera', 1, 1, N'Alfil', CAST(N'2025-03-27T23:39:51.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Municipios] ([id], [codigo], [municipio], [departamentoId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'91407', N'La Pedrera', 1, 1, N'Alfil', CAST(N'2025-03-27T23:39:51.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[Opciones] ON 

INSERT [dbo].[Opciones] ([id], [opcion], [etiqueta], [moduloId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Paises', N'Paises', 1, 1, N'Alfil', CAST(N'2025-03-25T12:23:02.660' AS DateTime), N'Alfil', CAST(N'2025-03-25T10:32:57.657' AS DateTime))
INSERT [dbo].[Opciones] ([id], [opcion], [etiqueta], [moduloId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Departamentos', N'Departamentos', 1, 1, N'Alfil', CAST(N'2025-03-25T12:23:13.647' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Opciones] ([id], [opcion], [etiqueta], [moduloId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'Municipios', N'Municipios', 1, 1, N'Alfil', CAST(N'2025-03-25T12:23:27.337' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Opciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([id], [pais], [name], [iso2], [iso3], [codePhone], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Afganistán', N'Afghanistan', N'AF', N'AFG', N'93', 1, N'Alfil', CAST(N'2025-03-19T13:48:38.927' AS DateTime), N'ivanrl', CAST(N'2026-04-03T11:37:04.000' AS DateTime))
INSERT [dbo].[Paises] ([id], [pais], [name], [iso2], [iso3], [codePhone], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Albania', N'Albania', N'AL', N'ALB', N'355', 1, N'Alfil', CAST(N'2025-03-19T13:48:38.970' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Paises] ([id], [pais], [name], [iso2], [iso3], [codePhone], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'Alemania', N'Germany', N'DE', N'DEU', N'49', 1, N'Alfil', CAST(N'2025-03-19T13:48:39.030' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([id], [perfil], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Administrador', 1, N'Alfil', CAST(N'2025-03-04T16:12:12.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Perfiles] ([id], [perfil], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Usuario', 1, N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([id], [perfileId], [opcioneId], [leer], [editar], [crear], [eliminar], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, N'Alfil', CAST(N'2025-03-13T11:20:24.640' AS DateTime), N'ivanrl', CAST(N'2026-04-03T11:38:05.000' AS DateTime))
INSERT [dbo].[Permisos] ([id], [perfileId], [opcioneId], [leer], [editar], [crear], [eliminar], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, 1, 2, 1, 1, 1, 1, 1, N'Alfil', CAST(N'2025-03-13T11:20:33.953' AS DateTime), N'ivanrl', CAST(N'2026-01-25T15:19:52.000' AS DateTime))
INSERT [dbo].[Permisos] ([id], [perfileId], [opcioneId], [leer], [editar], [crear], [eliminar], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, 1, 3, 1, 1, 1, 1, 1, N'Alfil', CAST(N'2025-03-13T11:20:40.643' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Prioridades] ON 

INSERT [dbo].[Prioridades] ([id], [prioridad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Gestación', 1, N'ivanrl', CAST(N'2026-01-27T11:50:41.000' AS DateTime), N'ivanrl', CAST(N'2026-01-27T11:53:36.000' AS DateTime))
INSERT [dbo].[Prioridades] ([id], [prioridad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Adulto Mayor', 1, N'ivanrl', CAST(N'2026-01-27T11:50:56.000' AS DateTime), NULL, CAST(N'2026-01-27T11:50:56.000' AS DateTime))
INSERT [dbo].[Prioridades] ([id], [prioridad], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'Discapacidad', 1, N'ivanrl', CAST(N'2026-01-27T11:51:09.000' AS DateTime), NULL, CAST(N'2026-01-27T11:51:09.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prioridades] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [rol], [perfileId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Administrador', 1, 1, N'Alfil', CAST(N'2025-03-04T16:12:33.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Roles] ([id], [rol], [perfileId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Usuario', 2, 1, N'Alfil', CAST(N'2025-03-04T16:12:33.000' AS DateTime), N'Alfil', CAST(N'2025-03-04T16:12:33.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rutas] ON 

INSERT [dbo].[Rutas] ([id], [codigo], [ruta], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'CE', N'CONSULTA EXTERNA', 1, N'ivanrl', CAST(N'2026-02-03T11:41:20.000' AS DateTime), N'ivanrl', CAST(N'2026-02-03T15:01:54.000' AS DateTime))
INSERT [dbo].[Rutas] ([id], [codigo], [ruta], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'LA', N'LABORATORIO', 1, N'ivanrl', CAST(N'2026-02-03T11:41:32.000' AS DateTime), NULL, CAST(N'2026-02-03T11:41:32.000' AS DateTime))
INSERT [dbo].[Rutas] ([id], [codigo], [ruta], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'UG', N'URGENCIAS', 1, N'ivanrl', CAST(N'2026-02-03T11:41:50.000' AS DateTime), NULL, CAST(N'2026-02-03T11:41:50.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rutas] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([id], [codigo], [sala], [sedeId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'S001', N'SALA FACTURACIÓN', 1, 1, N'ivanrl', CAST(N'2026-01-21T16:26:58.000' AS DateTime), N'ivanrl', CAST(N'2026-01-22T09:13:34.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Sedes] ON 

INSERT [dbo].[Sedes] ([id], [codigoReps], [habilitacion], [sede], [direccion], [telefono], [municipioId], [ipsId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'SED012', N'54217854', N'Centro', N'AV SIEMPRE VIVA #123', N'123456789', 169, 1, 1, N'ivanrl', CAST(N'2025-11-24T17:52:26.000' AS DateTime), N'ivanrl', CAST(N'2026-01-23T13:38:04.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sedes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos] ON 

INSERT [dbo].[Tipos] ([id], [codigo], [tipo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'CC', N'Cédula de ciudadanía', 1, N'Alfil', CAST(N'2025-03-04T16:13:07.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Tipos] ([id], [codigo], [tipo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'TI', N'Tarjeta de Identidad', 1, N'Alfil', CAST(N'2025-03-04T16:13:20.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
INSERT [dbo].[Tipos] ([id], [codigo], [tipo], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (3, N'RC', N'Registro civil de nacimiento', 1, N'Alfil', CAST(N'2025-03-04T16:13:38.000' AS DateTime), N'Alfil', CAST(N'2025-03-28T11:44:29.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [nombre], [tipoId], [documento], [celular], [roleId], [email], [usuario], [password], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'Iván Darío Rodríguez León', 1, N'80100377', N'3133538001', 1, N'krraks72@gmail.com', N'ivanrl', N'$2y$10$lhOqjgxIkxBZa8FVddn25.NHwGDt4R5JPvQsGDjIoPzi0sLGE6uR2', 1, N'Alfil', CAST(N'2025-03-04T16:14:47.000' AS DateTime), N'ivanrl', CAST(N'2026-06-03T09:26:02.000' AS DateTime))
INSERT [dbo].[Users] ([id], [nombre], [tipoId], [documento], [celular], [roleId], [email], [usuario], [password], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (2, N'Julian Camilo Castro', 1, N'44646546', N'516164654', 2, N'juliancb@cienogroup.com', N'juliancb', N'$2y$10$uGmLh8ysfoXU60xAiIUTj.HExiKVY9KxKCKfoZ8wJ/XPntNEsDEW2', 1, N'Alfil', CAST(N'2025-03-04T16:12:33.000' AS DateTime), N'ivanrl', CAST(N'2026-05-03T19:04:29.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventanillas] ON 

INSERT [dbo].[Ventanillas] ([id], [codigo], [ventanilla], [areaId], [sedeId], [salaId], [estado], [usuarioCrea], [created], [usuarioMod], [modified]) VALUES (1, N'FAC001', N'Facturación ventanilla 1', 1, 1, 1, 1, N'ivanrl', CAST(N'2026-01-23T13:40:32.000' AS DateTime), NULL, CAST(N'2026-01-23T13:40:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ventanillas] OFF
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Especialidades] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Especialidades] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Especialidades] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ((0)) FOR [prioritaria]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ((0)) FOR [validaGenero]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ((0)) FOR [infancia]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ((0)) FOR [discapacidad]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Filas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[FilasRutas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[FilasRutas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[FilasRutas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[FilasVentanillas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[FilasVentanillas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[FilasVentanillas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Generos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Generos] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Generos] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Ipss] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Ipss] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Ipss] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Modulos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Modulos] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Modulos] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Municipios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Municipios] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Municipios] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Opciones] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Opciones] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Opciones] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Prioridades] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Prioridades] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Prioridades] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Salas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Salas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Salas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Sedes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Sedes] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Sedes] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Tipos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Tipos] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Tipos] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Ventanillas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Ventanillas] ADD  DEFAULT ('Alfil') FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Ventanillas] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [fk_AreasIpss] FOREIGN KEY([ipsId])
REFERENCES [dbo].[Ipss] ([id])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [fk_AreasIpss]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [fk_DepartamentosPaises] FOREIGN KEY([paiseId])
REFERENCES [dbo].[Paises] ([id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [fk_DepartamentosPaises]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [fk_EmpresasMunicipios] FOREIGN KEY([municipioId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [fk_EmpresasMunicipios]
GO
ALTER TABLE [dbo].[Filas]  WITH CHECK ADD  CONSTRAINT [fk_FilasGeneros] FOREIGN KEY([generoId])
REFERENCES [dbo].[Generos] ([id])
GO
ALTER TABLE [dbo].[Filas] CHECK CONSTRAINT [fk_FilasGeneros]
GO
ALTER TABLE [dbo].[Filas]  WITH CHECK ADD  CONSTRAINT [fk_FilasPrioridades] FOREIGN KEY([prioridadeId])
REFERENCES [dbo].[Prioridades] ([id])
GO
ALTER TABLE [dbo].[Filas] CHECK CONSTRAINT [fk_FilasPrioridades]
GO
ALTER TABLE [dbo].[FilasRutas]  WITH CHECK ADD  CONSTRAINT [fk_FilasRutasFilas] FOREIGN KEY([filaId])
REFERENCES [dbo].[Filas] ([id])
GO
ALTER TABLE [dbo].[FilasRutas] CHECK CONSTRAINT [fk_FilasRutasFilas]
GO
ALTER TABLE [dbo].[FilasRutas]  WITH CHECK ADD  CONSTRAINT [fk_FilasRutasRutas] FOREIGN KEY([rutaId])
REFERENCES [dbo].[Rutas] ([id])
GO
ALTER TABLE [dbo].[FilasRutas] CHECK CONSTRAINT [fk_FilasRutasRutas]
GO
ALTER TABLE [dbo].[FilasVentanillas]  WITH CHECK ADD  CONSTRAINT [fk_FilasVentanillasFilas] FOREIGN KEY([filaId])
REFERENCES [dbo].[Filas] ([id])
GO
ALTER TABLE [dbo].[FilasVentanillas] CHECK CONSTRAINT [fk_FilasVentanillasFilas]
GO
ALTER TABLE [dbo].[FilasVentanillas]  WITH CHECK ADD  CONSTRAINT [fk_FilasVentanillasVentanillas] FOREIGN KEY([ventanillaId])
REFERENCES [dbo].[Ventanillas] ([id])
GO
ALTER TABLE [dbo].[FilasVentanillas] CHECK CONSTRAINT [fk_FilasVentanillasVentanillas]
GO
ALTER TABLE [dbo].[Ipss]  WITH CHECK ADD  CONSTRAINT [fk_IpssEmpresas] FOREIGN KEY([empresaId])
REFERENCES [dbo].[Empresas] ([id])
GO
ALTER TABLE [dbo].[Ipss] CHECK CONSTRAINT [fk_IpssEmpresas]
GO
ALTER TABLE [dbo].[Ipss]  WITH CHECK ADD  CONSTRAINT [fk_IpssMunicipios] FOREIGN KEY([municipioId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Ipss] CHECK CONSTRAINT [fk_IpssMunicipios]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [fk_MunicipiosDepartamentos] FOREIGN KEY([departamentoId])
REFERENCES [dbo].[Departamentos] ([id])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [fk_MunicipiosDepartamentos]
GO
ALTER TABLE [dbo].[Opciones]  WITH CHECK ADD  CONSTRAINT [fk_OpcionesModulos] FOREIGN KEY([moduloId])
REFERENCES [dbo].[Modulos] ([id])
GO
ALTER TABLE [dbo].[Opciones] CHECK CONSTRAINT [fk_OpcionesModulos]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [fk_PerfilesOpciones] FOREIGN KEY([opcioneId])
REFERENCES [dbo].[Opciones] ([id])
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [fk_PerfilesOpciones]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [fk_PerfilesPermisos] FOREIGN KEY([perfileId])
REFERENCES [dbo].[Perfiles] ([id])
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [fk_PerfilesPermisos]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [fk_RolesPerfiles] FOREIGN KEY([perfileId])
REFERENCES [dbo].[Perfiles] ([id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [fk_RolesPerfiles]
GO
ALTER TABLE [dbo].[Salas]  WITH CHECK ADD  CONSTRAINT [fk_SalasSedes] FOREIGN KEY([sedeId])
REFERENCES [dbo].[Sedes] ([id])
GO
ALTER TABLE [dbo].[Salas] CHECK CONSTRAINT [fk_SalasSedes]
GO
ALTER TABLE [dbo].[Sedes]  WITH CHECK ADD  CONSTRAINT [fk_SedesIpss] FOREIGN KEY([ipsId])
REFERENCES [dbo].[Ipss] ([id])
GO
ALTER TABLE [dbo].[Sedes] CHECK CONSTRAINT [fk_SedesIpss]
GO
ALTER TABLE [dbo].[Sedes]  WITH CHECK ADD  CONSTRAINT [fk_SedesMunicipios] FOREIGN KEY([municipioId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Sedes] CHECK CONSTRAINT [fk_SedesMunicipios]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_UsersRoles] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_UsersRoles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_UsersTipos] FOREIGN KEY([tipoId])
REFERENCES [dbo].[Tipos] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_UsersTipos]
GO
ALTER TABLE [dbo].[Ventanillas]  WITH CHECK ADD  CONSTRAINT [fk_VentanillasAreas] FOREIGN KEY([areaId])
REFERENCES [dbo].[Areas] ([id])
GO
ALTER TABLE [dbo].[Ventanillas] CHECK CONSTRAINT [fk_VentanillasAreas]
GO
ALTER TABLE [dbo].[Ventanillas]  WITH CHECK ADD  CONSTRAINT [fk_VentanillasSalas] FOREIGN KEY([salaId])
REFERENCES [dbo].[Salas] ([id])
GO
ALTER TABLE [dbo].[Ventanillas] CHECK CONSTRAINT [fk_VentanillasSalas]
GO
ALTER TABLE [dbo].[Ventanillas]  WITH CHECK ADD  CONSTRAINT [fk_VentanillasSedes] FOREIGN KEY([sedeId])
REFERENCES [dbo].[Sedes] ([id])
GO
ALTER TABLE [dbo].[Ventanillas] CHECK CONSTRAINT [fk_VentanillasSedes]
GO
/****** Object:  StoredProcedure [dbo].[qry_Permisos]    Script Date: 16/03/2026 17:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Iván Rodríguez>
-- Create date: <Create Date, 2025-13-03>
-- Description:	<Description, Consulta los permisos por usuario>
-- =============================================
CREATE PROCEDURE [dbo].[qry_Permisos]
	@usuarioId int = null
AS
BEGIN
	select Roles.rol, Perfiles.perfil, Modulos.modulo, Opciones.opcion, Opciones.etiqueta, Permisos.*
	from Users
		inner join Roles
			on Roles.id = Users.roleId
		inner join Perfiles
			on Perfiles.id = Roles.perfileId
		inner join Permisos
			on Permisos.perfileId = Perfiles.id
		inner join Opciones
			on Opciones.id = Permisos.opcioneId
		inner join Modulos
			on Modulos.id = Opciones.moduloId
	where Users.id = @usuarioId
		and Permisos.estado = 1
		and Opciones.estado = 1
		and Modulos.estado = 1
		and Perfiles.estado = 1
		and Roles.estado = 1
		and (Modulos.id <> 5 or Users.id = 1)
	order by Modulos.modulo, Opciones.opcion
END
GO
USE [master]
GO
